.outer-main {
  position: relative;
}
.outer-main::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: #585858;
  mix-blend-mode: multiply;
  filter: blur(4px) drop-shadow(8px 8px 10px gray);
}
.main-content {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.outer-logo {
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #cbcbcb;
  border-radius: 50%;
}
.logo {
  position: absolute;
  width: 200px;
  height: 200px;
  background-image: url("../kamyab.jpg");
  border-radius: 50%;
  left: 5%;
  top: 5%;
  background-size: cover;
  filter: grayscale(100%) contrast(200%) brightness(150%);
}
.text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: animate 10s linear infinite normal;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text span {
  transform-origin: 0px 150px;
  position: absolute;
  left: 50%;
  top: 0;
  display: block;
  font-size: 25px;
}
.icon {
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 10px;
  width: fit-content;
  position: relative;
  z-index: 6;
}
.icon i,
.icon p {
  padding: 10px;
}
.sub-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0vh;
}
.sub-text p {
  font-family: cursive;
  color: white;
  font-size: 20px;
  font-weight: 700;
  font-style: oblique;
  text-transform: uppercase;
  text-align: center;
}
.sub-text p::before {
  background-color: white;
  height: 2px;
  width: 20%;
  display: inline-block;
  content: "";
  vertical-align: super;
  margin: auto 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}
.footer i {
  padding: 10px;
  font-size: 20px;
}
.list__menu {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  background-color: #313131;
  opacity: 0;
  display: none;
}
.navigation {
  height: 50%;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 100px;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.navigation ul li a .iconList {
  position: relative;
  transition: 0.5s;
  font-size: 30px;
}
.navigation ul li a .textList {
  transition: 0.25s;
  text-transform: uppercase;
  transform: scale(0);
}
.navigation ul li:hover a .textList {
  transform: scale(0.75);
}
.navigation ul li a.active .textList {
  transform: scale(0.75);
}
.navigation ul li a.active {
  transition: 0.5s;
  border-radius: 10px;
  color: #fff;
}
.navigation ul li:nth-child(1) a.active {
  background-color: #f53b57;
}
.navigation ul li:nth-child(2) a.active {
  background-color: #0fbcf9;
}
.navigation ul li:nth-child(3) a.active {
  background-color: #05c46b;
}
@media only screen and (max-width: 1180px) {
  .outer-main {
    height: 500px;
    width: 98%;
    margin: auto;
  }
  .main-content {
    margin: 0 auto;
    width: 100%;
  }
  .text span {
    transform-origin: 0px 150px;
    top: -40px;
  }

  .text {
    width: 30%;
    height: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .outer-main {
    width: 90%;
  }
}
